<h2 mat-dialog-title> Repository Input </h2>

<mat-dialog-content >

    <form [formGroup]="repositoryInputForm" fxLayout="column" fxLayoutAlign="space-around none">

        <mat-form-field appearance="outline">
            <mat-label>Repository Name</mat-label>
            <input matInput placeholder="Name" [formControl]="RepositoryName">
            <mat-error *ngIf="RepositoryName.hasError('required')">
                Repository name is <strong>required</strong>
              </mat-error>
          </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Repository Owner Name</mat-label>
            <input matInput placeholder="Owner Name" [formControl]="RepositoryOwnerName">
            <mat-error *ngIf="RepositoryOwnerName.hasError('required')">
                Repository owner name is <strong>required</strong>
              </mat-error>
          </mat-form-field>
    </form>

    </mat-dialog-content>
<mat-dialog-actions align ="end">
        <button class="mat-raised-button"(click)="close()">Close</button>
        <button class="mat-raised-button mat-primary" [disabled]="!repositoryInputForm.valid" (click)="analysis()">Analysis</button>
    </mat-dialog-actions>