<div class="side-nav-content">
    
    <div>
        <mat-card>
            <mat-card-content > 
                <div fxLayout="row" fxLayoutAlign="end center" >
                    <mat-form-field class="search-box" appearance="outline">
                        <mat-label>Search</mat-label>
                        <input matInput placeholder="Branch name" (keyup)="search($event.target.value)">
                    </mat-form-field>
                </div>              
            </mat-card-content>   
        </mat-card>
    </div>

    <div class="mat-elevation-z8 table-content">
        <!-- <mat-progress-bar *ngIf="branchDataSource.loading$ | async" mode="indeterminate"></mat-progress-bar> -->
        <mat-table [dataSource]="branchDataSource">

            <ng-container matColumnDef="BranchName">
                <mat-header-cell *matHeaderCellDef>Branch Name</mat-header-cell>
                <mat-cell *matCellDef="let branch" > 
                    {{branch.Name}}   
                </mat-cell>
                </ng-container>
        
            <ng-container matColumnDef="Sha">
                <mat-header-cell *matHeaderCellDef>Sha</mat-header-cell>
                <mat-cell *matCellDef="let branch">{{branch.Sha}}</mat-cell>
                </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns" (click)=showCommit(row)></mat-row>
            
        </mat-table>
        
        <mat-paginator [length]="branchDataSource.totlaData" [pageSizeOptions]="length" showFirstLastButtons></mat-paginator>
    </div>

</div>

