
<div class="side-nav-content">
    
    <div>
        <mat-card>
            <mat-card-content > 
                <div fxLayout="row" fxLayoutAlign="end center">
                    <mat-form-field appearance="outline">
                        <mat-label>Select an option</mat-label>
                        <mat-select [(value)]="selectedOption" (selectionChange) ="onChangeOption($event)">
                            <mat-option *ngFor="let item of options" [value]="item.value">
                                {{item.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>              
            </mat-card-content>   
        </mat-card>
    </div>

    <div class="mat-elevation-z8">

        <div class="bar-chart">
            <ngx-charts-bar-vertical
                [scheme]="colorScheme"
                [results]="result"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [animations]= "true"
                [roundEdges]="false"
                (select)="onSelect($event)">
            </ngx-charts-bar-vertical>
        </div>
        
        <div>
            <highcharts-chart class="time-chart"
                [Highcharts]="highcharts"
                [constructorType]="chartConstructor"
                [options]="chartOptions"
                [(update)]="updateFromInput"
                >
            </highcharts-chart>
        </div>

    </div>

</div>
