<!-- <div id="container" style="min-width: 310px; max-width: 900px; height: 400px; margin: 0 auto"></div> -->

<div >
    <highcharts-chart 
    [Highcharts]="Highcharts"
    [constructorType]="chartConstructor"
    [options]="chartOptions"
    [(update)]="updateFromInput"
    style="width: 100%; height: 300px; display: inline-block"
  ></highcharts-chart>
</div>


<div>

    <ngx-charts-advanced-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="result"
      (select)="onSelect($event)">
    </ngx-charts-advanced-pie-chart>

</div>