
<div class="side-nav-content">

    <div class="bar-chart">
        <ngx-charts-bar-vertical
            [scheme]="colorScheme"
            [results]="result"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
    </div>

    <div>
        <highcharts-chart class="time-chart"
            [Highcharts]="highcharts"
            [constructorType]="chartConstructor"
            [options]="chartOptions"
            [(update)]="updateFromInput"
            >
        </highcharts-chart>
    </div>

</div>
