.repositoryContent {
    width: 95%;
    margin: auto;
    margin-top: 15px;
  }
.spinnerCenter{
    margin: auto;
}
.running{
    color: rebeccapurple;
    display: flex;
    flex-direction: row;
}
.complete{
    color: seagreen;
}