.repositoryContent {
    width: 95%;
    margin: auto;
    margin-top: 15px;
  }
.spinnerCenter{
    margin: auto;
}
.running{
    color: rebeccapurple;
    display: flex;
    flex-direction: row;
}
.complete{
    color: seagreen;
}
.mat-row:hover {
    background-color: rgba(0, 0, 0, .05);
    cursor: pointer;
}