<ngx-spinner></ngx-spinner>
<mat-toolbar color="primary">
    <span>Sentiment-Web</span>
</mat-toolbar>

<div class="repositoryContent">
    <div>
        <mat-card>
            <mat-card-content > 
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div>
                        Repository List
                    </div>

                    <div>
                        <mat-form-field class="search-box" appearance="outline">
                            <!-- <mat-label>Search</mat-label> -->
                            <input matInput placeholder="Repository name" (keyup)="search($event.target.value)">
                        </mat-form-field>
                    </div>

                    <div>
                        <button mat-icon-button color="primary" title="Analyse Repository" (click)="openInputModal()" >
                            <mat-icon>add_box</mat-icon>
                        </button>
                    </div>

                    <!-- <div>
                        <button mat-icon-button color="primary" (click)="download()" >
                            download
                        </button>
                    </div> -->

                </div>               
            </mat-card-content>   
        </mat-card>
    </div>
    
    <div class=" mat-elevation-z8" >

        <mat-progress-bar *ngIf="dataSource.loading$ | async" mode="indeterminate"></mat-progress-bar>
       
        <mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="RepoId">
                <mat-header-cell *matHeaderCellDef>RepoId</mat-header-cell>
                <mat-cell *matCellDef="let repository">{{repository.RepoId}}</mat-cell>
                </ng-container>

          
            <ng-container matColumnDef="RepositoryName">
                <mat-header-cell *matHeaderCellDef>Repository Name</mat-header-cell>
                <mat-cell *matCellDef="let repository" > 
                    {{repository.Name}}   
                </mat-cell>
                </ng-container>
            
        
            <ng-container matColumnDef="OwnerName">
                <mat-header-cell *matHeaderCellDef>Owner Name</mat-header-cell>
                <mat-cell *matCellDef="let repository">{{repository.OwnerName}}</mat-cell>
                </ng-container>
        
            <ng-container matColumnDef="State">
                    <mat-header-cell *matHeaderCellDef>State</mat-header-cell>
                    <mat-cell *matCellDef="let repository" >
                        <div *ngIf="repository.State == 0" class="running">
                            <span>Running &nbsp;&nbsp;</span> 
                            <mat-spinner [diameter]="20" mode="indeterminate"></mat-spinner> 
                            </div>
                        <div *ngIf="repository.State == 1" class="complete" >
                            <span>Complete </span>   
                        </div>
                        </mat-cell>
                </ng-container>

            <ng-container matColumnDef="Url">
                <mat-header-cell *matHeaderCellDef>GitHub Link</mat-header-cell>
                <mat-cell *matCellDef="let repository" (click)="$event.stopPropagation()">
                    <a href="{{repository.Url}}" title="Visit GitHub" target="_blank">
                        <mat-icon >launch</mat-icon>
                        </a>
                    </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="Action">
                <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                <mat-cell *matCellDef="let repository" (click)="$event.stopPropagation()">
                    <button mat-icon-button color="primary" title="Re-analyse Repository" (click)="reAnalyzeRepository(repository)" >
                        <mat-icon>play_circle_filled</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>


            <ng-container matColumnDef="Download">
                <mat-header-cell *matHeaderCellDef>Download</mat-header-cell>
                <mat-cell *matCellDef="let repository" (click)="$event.stopPropagation()">
                    <button mat-icon-button color="primary" title="Download Repository" (click)="download(repository)" >
                        <mat-icon>arrow_downward</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            
            <mat-row *matRowDef="let row; columns: displayedColumns" (click)=showRepositoryDetail(row)></mat-row>
            
        </mat-table>
        
        <mat-paginator [length]="dataSource.totlaData" [pageSizeOptions]="length" showFirstLastButtons>
        </mat-paginator>
    </div>
    
</div>