<mat-toolbar color="primary">
    <!-- <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button>
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button> -->
    <span>Sentiment-Web</span>
</mat-toolbar>
<p>repositories works!</p>

<mat-table class=" mat-elevation-z8" [dataSource]="dataSource">
  
    <ng-container matColumnDef="Id">
        <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
        <mat-cell *matCellDef="let repository">{{repository.Id}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="RepoId">
        <mat-header-cell *matHeaderCellDef>RepoId</mat-header-cell>
        <mat-cell class="description-cell"
                  *matCellDef="let repository">{{repository.RepoId}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell class="duration-cell"
                  *matCellDef="let repository">{{repository.Name}}</mat-cell>
    </ng-container>
    

    <ng-container matColumnDef="OwnerName">
        <mat-header-cell *matHeaderCellDef>OwnerName</mat-header-cell>
        <mat-cell class="duration-cell"
                  *matCellDef="let repository">{{repository.OwnerName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Url">
        <mat-header-cell *matHeaderCellDef>Url</mat-header-cell>
        <mat-cell class="duration-cell"
                  *matCellDef="let repository">{{repository.Url}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    
</mat-table>

<mat-paginator [length]="dataSource.totlaData" [pageSize]="2" [pageSizeOptions]="[2,3,4,5]">
</mat-paginator>