/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.side-nav-content{
    width: 97%;
    padding: .5em;
    margin: auto;
}
.table-content{
    margin-top: .25em;
}
.search-box{
    margin: 0 1em 0 1em;
}
app-list{
    .mat-card{
        padding: 0em;
    }

    .mat-form-field-appearance-outline
    .mat-form-field-infix {
        padding: .65em 0 .65em 0;
    }

    .mat-form-field-appearance-outline 
    .mat-form-field-wrapper {
        margin: .5em 0;
    }

    .mat-form-field-wrapper {
        padding-bottom: 0px;
    }
}

